#include "RC.h"

CURSOR_ID_MOVE ANICURSOR Camera_Middle.ani

MainMenu MENU
{
    POPUP "文件（&File）"
    {
//        MENUITEM "打开（&Open）", MENU_FILE_ID_OPEN
//        MENUITEM "关闭（&Close）", MENU_FILE_ID_CLOSE
        MENUITEM "退出（&Exit）", MENU_FILE_ID_EXIT
    }
    POPUP "浏览（&Explorer）"
    {
        MENUITEM "上一个（&Last）", MENU_EXPLORER_ID_LAST
        MENUITEM "下一个（&Next）", MENU_EXPLORER_ID_NEXT
    }
    POPUP "DEMO（&Demo）"
    {
        MENUITEM "随机彩框", MENU_DEMO_ID_RAND_COLOER_RECT
        MENUITEM "随机彩线", MENU_DEMO_ID_RAND_COLOER_LINE
    }
    POPUP "帮助（&Help）"
    {
        MENUITEM "关于（&About）", MENU_HELP_ID_ABOUT
    }
}




